.title-bar{
	
	position: fixed;
	width: 100%;
	height: 6rem;
	z-index: 50;
	text-align: center;
	top: 0;
	pointer-events: none;
	
	h3{
		letter-spacing: 2px;
		padding: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 1rem;
		margin-left: 1rem;
		text-transform: uppercase;
	}
	
}

@each $color in $colors{
	
	$className: nth($color, 1);
	$property: nth($color, 2);
	
	.title-bar.bg-#{$className},
	.bg-#{$className} .title-bar{
		background: linear-gradient(#{$property} 0%, #{$property} 65%, #{transparentize($property, 1)} 100%);
	}
	
}

@media #{$small-only} {
	.title-bar.right h3{
		text-align: left;
		margin-left: 5rem;
	}
}

@media #{$small-up} {
	.title-bar h3{
		font-size: 1.5rem;
		margin-top: 0.4rem;
	}
}

@media #{$medium-up} {
	.title-bar h3{
		font-size: 2.2rem;
		margin-top: 0.5rem;
	}
}

@media #{$large-up} {
	.title-bar h3{
		font-size: 2.2rem;
		margin-top: 0.7rem;
	}
}
