<template name="colors">

	<section>
		<!--
		<div class="icon-button top-right done-button">
			<img src="/img/tick.svg">
		</div>
		-->
		{{>blobs big=false colors=selectedColors}}
		
		{{>titleBar text="Colours"}}
		
		{{#columnContainer}}
		
			<div class="row">
				
				<div class="small-12 columns text-center">
					<p>Pick {{posessive name}} favourite colours.</p>
				</div>
				
			</div>
			
			<div class="row">
				
				<div class="medium-12 small-centered columns">
					
					<ul class="color-select small-block-grid-3 medium-block-grid-4 large-block-grid-6">
						
						{{#each allColors}}
							<li>
								<div style="background: {{color}}" class="color-swatch {{#if selected}}selected{{/if}} {{#if bright}}bright{{/if}}"></div>
								<div class="color-label text-center">
									<h3 class="text-0-75">{{name}}</h3>
								</div>
							</li>
						{{/each}}
					</ul>
					
				</div>
				
			</div>
						
			<div class="row">
				<div class="small-12 columns text-2 text-center pad-bottom-5">
					{{#if valid}}
						<a class="done-button">Next</a>
					{{/if}}						
				</div>
			</div>
				

			
			
		{{/columnContainer}}
		<!--
		{{#if hoveredColor}}
			<p class="hovered-circle show-for-large-up text-3 text-caps">{{hoveredColor}}</p>
		{{/if}}
		-->
	</section>
	
</template>