.orders{
	a:last-child .row:last-child{
		border: none !important;
	}
}

.order-grid{
	
	text-align: center;	
	
	> a > div{
		display: inline-block;
		transition: transform 0.2s;
		&:hover{
			z-index: 1000;
			transform: scale(1.1);
		}
	}
}

@media #{$small-up} {
	.order-grid > a > div{
		width: 49%;
	}
}

@media #{$medium-up} {
	.order-grid > a > div{
		width: 32%;
	}
}