<template name="orders">

	<section class="orders bg-city-orange">
	
	    {{> titleBar text='Your Orders' }}
	    
	    {{# columnContainer }}
	    
	    	{{#if orders }}
	    	
	    		{{#each orders}}
	    		
	    			<a href="/order/{{i2iId}}">
		    			
		    			<div class="row pad-top-2">
			    			
			    			<div class='small-12 columns'>
								<span class="text-2"><span class="text-xbold">#{{i2iId}}</span> &mdash; for <strong>{{forChild}}</strong></span>
			    			</div>
			    			
		    			</div>
	    		
		    			<div class="row pad-bottom-2 border-bottom">
			    			
			    			<div class="medium-4 columns">
				    			{{#if status}}
					    			<strong>{{status}}</strong>{{#if showReturnLink}} – <a href="/order/{{i2iId}}">Return Box</a>{{/if}}
					    		{{else}}
					    			&nbsp;
					    		{{/if}}
			    			</div>
			    			
			    			<div class="medium-4 columns">
				    			{{list garments}}
			    			</div>
			    			
			    			<div class="medium-4 columns">
				    			<span>
									{{#each colors}}
										{{>swatch color=color bg='BLUE' }}
									{{/each}}
									{{#each looks}}
										<img class="height-1em" src="{{icon}}">
									{{/each}}
				    			</span>
								<br>
						    	{{#if repeat}}
						    		Repeat every <strong>{{repeat}}</strong>
						    	{{else}}
						    		One-off order<br>
						    	{{/if}}
			    			</div>
			    			
		    			</div>
		    			<!--
		    			<div class="row pad-bottom-2 border-bottom">
			    			<div class="medium-8 columns">
				    			<p><strong>{{capitalise status}}</strong> {{ago lastActionDate}}</p>
			    			</div>
			    			<div class="medium-4 columns medium-text-right">
						    	{{#if repeat}}
						    		Repeat every <strong>{{repeat}}</strong>
						    	{{else}}
						    		One-off order<br>
						    	{{/if}}
			    			</div>
		    			</div>
		    			-->
	    			</a>
	    		
	    		{{/each}}
	            <!--		
				<div class="order-grid">
				
					{{#each orders}}
						<a class="no-line no-hover" href="order/{{number}}">
							<div class="text-center ">
																	
								<h3 class="no-gap">#{{number}}, for {{forChild}}</h3>
								<div class="gap-bottom-0-5">
									{{#each colors}}
										{{>swatch color=color bg='TEAL' }}
									{{/each}}
								</div>
								<div class="gap-bottom-0-5">
									{{#each looks}}
										<img class="height-1em" src="{{icon}}">
									{{/each}}
								</div>
								<p><strong>{{capitalise status}}</strong> {{ago lastActionDate}}</p>
								
							</div>
						</a>
					{{/each}}
				</div>
				-->
			
			{{ else }}
			
				<p>No orders yet!</p>
				
			{{/if}}
				
	    {{/ columnContainer }}
    
	</section>
    

</template>