<template name="addressSelect">

	<ul class="small-block-grid-3 {{canSelect}}">
		
		{{#each addresses}}
		
			<li class="saved-address {{selected ..}}">
				{{#each address}}
					{{this}}<br>
				{{/each}}
				{{#if default}}
					<b>Default</b>
				{{else}}
					<a class="make-default-address">Make Default</a>
				{{/if}}
				<a class='delete-address'>Delete</a>
			</li>
		
		{{/each}}
		
		<li>
		
			{{#each newAddressLines }}
			
				{{> inlineInput id=id value=value placeholder=placeholder }}<br>
				
			{{/each}}
			
			{{#if newAddress }}
				<a class="save-address">Save</a>
			{{/if}}
		
		</li>
		
	</ul>

</template>