<template name="login">
   	
   	<section class="bg-orange bg-city-blue text-1-5">
	    
		{{> titleBar text="Log In" classes="bg-orange"}}
		
		{{# columnContainer size=6 }}
	    
	        <form class="pad-top-5 pad-bottom-4">
	          {{#if errorMessages}}
	            {{#each errorMessages}}
	              {{this}}<br>
	            {{/each}}
	          {{/if}}
	      
	          <input class="gap-bottom-1" type="email" name="email" placeholder="Email" />
	          {{#unless forgotPassword}}
	            <input type="password" name="password" placeholder="Password" />
	          {{/unless}}
	          <button type="submit" class="gap-top-3">
	            {{#if forgotPassword}}
	              Reset Password
	            {{else}}
	              Log in
	            {{/if}}
	          </button>
	      </form>
	      
	      <a href="/signup">Sign Up</a><br>
	      <a class="forgotPassword">Forgot your password?</a>
	          	    
	    {{/columnContainer}} 
    
   	</section>

</template>

