<template name="resetPassword">

   	<section class="bg-city-blue text-1-5">
	    
		{{> titleBar text="Reset Password"}}
		
		{{# columnContainer size=6 }}
	    
	        <form class="pad-top-5 pad-bottom-4">
	          {{#if errorMessages}}
	            {{#each errorMessages}}
		            {{this.type}}: {{this.msg}}<br>
	            {{/each}}
	          {{/if}}
	          
	          <input class="gap-bottom-1" type="password" name="password" placeholder="Password" />
			  <input class="gap-bottom-1" type="password" name="confirm" placeholder="Confirm Password" />
	          <button type="submit" class="gap-top-3">Submit</button>
	      </form>
	      
	          	    
	    {{/columnContainer}} 
    
   	</section>

</template>