@mixin color-stagger($period){
	
	$members: $period * 2;
	
	@for $i from 1 through $members {
		
		&:nth-child(#{$members}n+#{$i}){
			@if $i <= $period { transform: translateX(-25%) }
			@if $i > $period { transform: translateX(25%) }
		}
		
	}
	
	
}

.look-select li{
	
	position: relative;
	height: auto;
	
	//@include color-stagger(2);
	
	.look-swatch{
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		cursor: pointer;
		.look-image{
			transition: transform .2s;
			transform: scale(0.9);
		}
		&.selected{
			&:before{
				border-right: 3px solid white;
				border-bottom: 3px solid white;
			}
			.look-image{
				transform: scale(1);
				img{
					display: none;
				}
			}
		}
		&.surprise .look-image{
			animation: surprise 10s infinite;
		}
		.look-image:hover{
			transform: scale(1);
		}
		.icon{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 10%;
		}
		.magnify{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 10%;
		}
	}

	.look-image{
		border-radius: 50% 50%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size: cover;
		img{
			width: 40%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}
	
	.look-label{
		h3{
			font-size: 0.7rem;
			padding-top: 0.5rem;
		}
		width: 100%;
		text-align: center;
	}
	
}

@keyframes surprise{
	0%{
		background: $blue;
	}
	25%{
		background: $teal;
	}
	50%{
		background: $green;
	}
	75%{
		background: $orange;
	}
	100%{
		background: $blue;
	}
}

.look-preview{
	pointer-events: none;
	transform: scale(0.75);
	opacity: 0;
	background: black;
	position: fixed;
	z-index: 600;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: transform .5s, opacity .5s;
	overflow: hidden;
	&.active{
		pointer-events: visible;
		transform: none;
		opacity: 1;
	}
	.look-preview-images{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		img{
			max-height: 90vh;
			margin-bottom: 1rem;
			&:first-child{
				margin-top: 2rem;
			}
		}
	}
	.look-preview-select{
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 510;
	}
}

@media #{$large-up}{
	.looks .large-block-grid-5{
		li:nth-child(6),
		li:nth-child(7),
		li:nth-child(8),
		li:nth-child(9) {
			transform: translateX(50%);
		}
	}
	
	.looks .large-block-grid-4{
		li:nth-child(5),
		li:nth-child(6),
		li:nth-child(7) {
			transform: translateX(50%);
		}
	}
}