.child-title h3{
	background: white;
	padding: 0.3rem 0.5rem 0.1rem 0.5rem;
	display: inline-block;
	margin-top: 1.2rem;
	color: $teal;
}

.child{
	margin-top: 5rem;
	
	.universe-preview{
		width: 70%;
		margin: 0 auto 2rem auto;
		padding-bottom: (297/210)*70%;
		position: relative;
	}
	
	.child-info{
		width: 70%;
		margin-left: 15%;
	}
	
	.universe-preview:after{
		
		content: 'Edit';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
		color: white;
		text-shadow: 0px 0px 30px black;
		opacity: 0;
		transition: opacity 0.2s;
		pointer-events: none;
		
	}
	
	.universe-preview:hover:after{
		opacity: 1;
	}
	
}



@media #{$large-up} {
	
	.child{
		position: absolute;
		top: 3rem;
		bottom: 3rem;
		left: 5rem;
		right: 5rem;
		margin: 0;
	
		.universe-preview,
		.child-info{
			position: absolute;
			height: 100%;
		}
		
		.universe-preview{
			width: 50%;
			margin: 0;
			padding: 0;
		}
			
		.child-info{
			
			width: 40%;
			right: 5%;
			margin: 0;
			
			.large-center{
				width: 100%;
			}
		
			.child-name{
				display: inline-block !important;
			}
		
		}
	
	}
}
