.about-logo{
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	transition: opacity .5s;
	cursor: pointer;
	z-index: 500;
}

.about-social{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	transition: opacity .5s;
	z-index: 500;
	a{
		border: none !important;
	}
	img{
		height: 1.2rem;
		margin-left: 0.5rem;
		margin-top: 0.35rem;
	}
}

.stage-0{
	.about-logo,
	.about-social{
		opacity: 0;
	}
}

.about-login{
	position: fixed;
	width: 100%;
	top: 1rem;
	z-index: 550;
}

.front-page{
	.copyright{
		position: absolute;
		bottom: 0.5rem;
		right: 1.5rem;
		font-size: 0.75rem;
		z-index: 600;
	}
	.center{
		width: 100%;
	}
}

@media #{$medium-up}{
	.about-logo{
		width: 30%;
		bottom: 1.5rem;
		left: 1.5rem;
	}
	.about-social{
		bottom: 1.5rem;
		right: 1.5rem;
	}
	.about-login{
		top: 1.5rem;
		z-index: 500;
	}
}

.about-main{
	width: 200vw;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1s;
	.about-page{
		width: 100vw;
		height: 100vh;
		position: relative;
		&:nth-child(even){
			margin-left: 100vw;
		}
		&:nth-child(odd){
			margin-right: 100vw;
		}
	}
	.page-image{
		//opacity: 0;
		transition: opacity .75s .75s;
		img{
			max-height: 35vh;
		}
	}
	.page-text{
		opacity: 0;
		transition: opacity .75s 1s;
		p{
			font-weight: bold;
			line-height: 1.2;
		}
		a{
			color: white;
		}
	}
	.next-arrow{
		position: absolute;
		bottom: 10vh;
		left: 50%;
		margin-left: -11.5%;
		width: 23%;
		animation: big-bob 1s linear infinite;
		cursor: pointer;
	}
	.sign-up{
		animation: bob 1s linear infinite;
	}
	.start-over{
		position: relative;
		top: 0.4rem;
		border: none !important;
		animation: big-bob 1s linear infinite;
		cursor: pointer;
		img{
			height: 2rem;
		}
	}
}

@media #{$large-up}{
	.about-main{
		.next-arrow{
			width: 6%;
			margin-left: -3%;
		}
	}
}

.stage-1 .about-main{
	transform: translate3d(-100vw, -100vh, 0);
}

.stage-2 .about-main{
	transform: translate3d(0, -200vh, 0);
}

.stage-3 .about-main{
	transform: translate3d(-100vw, -300vh, 0);
}

.stage-4 .about-main{
	transform: translate3d(0, -400vh, 0);
}

.stage-5 .about-main{
	transform: translate3d(-100vw, -500vh, 0);
}

.stage-6 .about-main{
	transform: translate3d(0, -600vh, 0);
}

@for $i from 1 through 6{
	.stage-#{$i} {
		.about-page:nth-child(#{$i+1}){
			.page-image,
			.page-text{
				opacity: 1;
			}
		}
	}
}