<template name="about">

	<section class="about no-scroll stage-{{stage}}">
		
			<div class="about-login row text-center">
				{{#if currentUser}}
					<div class='small-12 columns text-center'>
						<a href="/profile">Back to my profile</a>
					</div>
				{{else}}
					<div class="small-4 medium-2 columns small-offset-2 medium-offset-4 border-right">
						<a href="/login">Sign Up</a>
					</div>
					<div class="small-4 medium-2 columns end">
						<a href="/login">Log In</a>
					</div>
				{{/if}}
			</div>
		
		<img class="about-logo start-over" src="/img/logo-left.svg">
		
		<div class="about-social">
			<a href="https://www.facebook.com/muddycreatures" target="_blank">
				<img src="/img/fb-white.svg">
			</a>
			<a href="https://www.instagram.com/muddycreatures/" target="_blank">
				<img src="/img/insta-white.svg">
			</a>
		</div>
		
		<div class="about-main">
			
			<div class="about-page front-page">
				
				{{>blobs colors=colors looks=looks}}
				
				<p class="copyright">©2016 Muddy Creatures - All Rights Reserved. <a href="/privacy-policy/">Privacy</a> and <a href="/terms">Terms</a></p>
				
				<div class="center">
					
					<div class="row">
						<div class="medium-10 large-8 small-centered columns text-2 text-center">						
							<img class="full-width" src="/img/logo.svg">
						</div>
					</div>
					<div class="row">
						<div class="medium-8 large-6 small-centered columns text-2 text-center">
							<img class='full-width pad-bottom-1 medium-pad-bottom-2' src="/img/for-young-explorers.png">
							<a class="next-stage">
								Find out how it works
							</a>							
						</div>
					</div>
					
				</div>
				
			</div>
			
			{{>aboutPage i=1 color="teal" text="You hear about Muddy Creatures and decide to give us a whirl."}}
			{{>aboutPage i=2 color="orange" text="Sign up and create a profile for each kid. <br><span class='text-1'>(newborn to 4 years)</span>"}}
			{{>aboutPage i=3 color="pink" text="Then relax."}}
			{{>aboutPage i=4 color="blue" text="We send you a box of things we think you'll love."}}
			{{>aboutPage i=5 color="orange" text="You've got 10 days to try them on for size. Keep what you love, send back the stuff you don't."}}
			{{>aboutPage i=6 color="teal" text="And free postage both ways. Only pay afterwards for what you keep."}}
			
		</div>			
		
	</section>
	
</template>

<template name="aboutPage">

	<div class="about-page">
		
		<div class="row page-image">
			<div class="medium-10 large-8 small-centered columns text-center pad-top-5 gap-top-3">
				<img src="/img/about-{{i}}.png">
			</div>
		</div>
		<div class="row page-text">
			<div class="medium-8 large-6 columns small-centered pad-top-2">
				<p class="text-1 medium-text-1-5 text-caps text-{{color}}">
					{{{text}}}
				</p>
			</div>
		</div>
		{{#if last}}
			<div class="row">
				<div class="medium-8 large-6 columns small-centered">
					<div class="row">
						<div class="small-10 columns">
							<p class="text-2">
								{{#if currentUser}}
									<a class="sign-up" href="/profile/">Back to my profile</a>
								{{else}}
									<a class="sign-up" href="/signup/">Sign me up!</a>
								{{/if}}
							</p>
						</div>
						<div class="small-2 columns text-right">
							<a class="start-over">
								<img src="/img/arrow-up.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		{{/if}}
		
		{{#unless last}}<img class="next-arrow next-stage" src="/img/arrow-{{#if even}}right{{else}}left{{/if}}.png">{{/unless}}
		
	</div>
		
</template>