<template name="contact">
	<section class="bg-city-blue page">

		{{>titleBar text="Contact / Who We Are"}}
            
        {{# columnContainer}}
        <div class="row pad-top-4">
        	<div class="small-12 border-bottom pad-bottom-3 columns">
					<p class="pad-top-3 text-1-5">Dear Mums, dads, busy bees and other wonderful creatures</p>

					<p>Muddy Creatures was created upon welcoming our delicious son in the summer of 2014. My partner and I were both surprisingly unprepared for the months to come after Karl’s arrival and my thoughts were (to say it mildy) elsewhere than focusing on building him a wardrobe. With the speed of the growth-spurts on such a little fella it always felt like I was one step behind. I found it tricky to source the brands that offers good quality, comfort and design with a manageable price tag. That is what Muddy Creatures is here to make up for. We offer you a service where you will never have to think ahead of your child’s next wardrobe leap – we’ll do the thinking and planning for you, suitable for the season, holidays, favourite colours and brands.</p>

					<p>I hereby welcome you to my very special place – You and all your little wonderful creatures!</p>

					<p>Anja Stavnsbjerg</p>
			</div>

		</div>

			<div class="row pad-top-3 border-bottom">
				<div class="small-12 medium-6 columns pad-bottom-3">
					<h4>CONTACT</h4>
					<p>If you would like to get in touch, just send us an email or give us a call</p>
					<p><a href="mailto:hello@muddycreatures.com">hello@muddycreatures.com</a> /  0203 7937 214 </p>
				</div>
				<div class="small-12 medium-6 columns">
					<h4>FAQ</h4>
					<p>In any case you might find what you’re looking for <a href="/faq">right here</a></p>
				</div>
			</div>

			<div class="row pad-top-3 pad-bottom-4">
				<div class="small-12 medium-6 columns">
					<h4>PRESS</h4>
					<p>If you’re looking for this we must have done someting to impress you. Please just send us an email with the details and we will get back to you.</p>
					<p><a href="mailto:press@muddycreatures.com">press@muddycreatures.com</a></p>
				</div>
				<div class="small-12 medium-6 columns">
					<h4>CAREERS</h4>
					<p>We’re always on the lookout for people who share our enthusiasm and commitment. If you’re interested in joining the Muddy Creatures team please send your CV to <a href="mailto:careers@muddycreatures.com">careers@muddycreatures.com</a>. We can’t wait to hear from you.</p>
				</div>
			</div>

			
        {{/columnContainer}}

    </section>
</template>