<template name="faq">
	<div class="wave" style="background-image: url('/img/bg/wave_2.png');">

		<div class="row pad-top-3 pad-bottom-3">
			<div class="small-12 medium-6 medium-centered columns text-center">
				<h2>Frequently Asked Questions</h2>
			</div> 
		</div>
	    <div class="row pad-bottom-5">
	        <div class="small-12 medium-3 medium-offset-1 columns">  
	            <ul class="no-bullet">
	            	<li>
	            		<a href="#1">How do I change my password?</a>
	            	</li>
	            	<li>
	            		<a href="#2">How do I edit my address?</a>
	            	</li>
	            	<li>
	            		<a href="#3">What is your returns policy?</a>
	            	</li>
	            	<li>
	            		<a href="#4">How do I change my password?</a>
	            	</li>
	            </ul>
	         
	        </div>
	        <div class="small-12 medium-6 medium-offset-1 columns end">	        	
	        	<p id="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut, nihil accusamus molestias quod repellat iure amet, cum animi, cumque, dolorem. Nihil ullam adipisci vitae aperiam quo molestiae modi omnis ipsum fugiat maxime dolorum qui consectetur quae quasi quaerat voluptates esse, tempora laudantium provident veritatis. Facilis harum, aliquid quo sapiente.</p>

	        	<p id="2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut, nihil accusamus molestias quod repellat iure amet, cum animi, cumque, dolorem. Nihil ullam adipisci vitae aperiam quo molestiae modi omnis ipsum fugiat maxime dolorum qui consectetur quae quasi quaerat voluptates esse, tempora laudantium provident veritatis. Facilis harum, aliquid quo sapiente.</p>

	        	<p id="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut, nihil accusamus molestias quod repellat iure amet, cum animi, cumque, dolorem. Nihil ullam adipisci vitae aperiam quo molestiae modi omnis ipsum fugiat maxime dolorum qui consectetur quae quasi quaerat voluptates esse, tempora laudantium provident veritatis. Facilis harum, aliquid quo sapiente.</p>

	        	<p id="4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut, nihil accusamus molestias quod repellat iure amet, cum animi, cumque, dolorem. Nihil ullam adipisci vitae aperiam quo molestiae modi omnis ipsum fugiat maxime dolorum qui consectetur quae quasi quaerat voluptates esse, tempora laudantium provident veritatis. Facilis harum, aliquid quo sapiente.</p>
	        </div>
	    </div>

	</div>
</template>