<template name="terms">
	<section class="bg-city-blue page">

		{{>titleBar text="Terms &amp; Condtions"}}

		{{# columnContainer}}

			<h3 class="pad-top-3">WEBSITE TERMS OF USE</h3>
	
        	<p>This page (and any documents referred to in it) contains the terms which apply to your use of our website www.muddycreatures.com whether are a visitor or a registered user.</p>

        	<p>You should read these terms carefully before you start to use the site. By using the site, you accept these terms and agree to comply with them. If you do not agree to these terms, please do not use the site.</p>

			<h3>WHO WE ARE</h3>
	
        	<p>Muddycreatures.com is a website operated by Muddy Creatures Ltd ("We" or "Us"). Please note the following details about us:</p>
			
			<ol class="pad-left-2 pad-bottom-2">
				<li>We are:-<br>
					Muddy Creatures LTD<br>
					PO BOX 73672<br>
					London W11 9GD<br>
				</li>
				<li>We are regulated by Companies House, Company no. 09593863</li>
				<li>We are a limited company.</li>
			</ol>
			
			<p>We allow you to access to our site on a temporary basis only.  We reserve the right to change or remove the service we provide via our site without notice. We will not be liable to you or any third party if for any reason our site is unavailable at any time or for any period.</p>
           
			<p>From time to time, we may require users to register with our site in order to access some parts of it, or the whole site, at our discretion.</p>

			<p>If we have provided you with, or you have selected, a user identification code, password or any other information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to anyone. We reserve the right at any time to disable any user identification code or password, whether chosen by you or allocated by us, if in our opinion you have failed to comply with any of our terms of use.</p>

			<p>You are responsible for making all arrangements necessary to enable you to have access to our site, including (but not limited to) a suitable and stable internet connection. You are also responsible for ensuring that anyone who accesses our site through your internet connection is aware of these terms, and that they comply with them.</p>

			<h3>ACCEPTABLE USE POLICY</h3>

			<p>When using our site, you must comply in full with the requirements set out below.</p>

			<h3>PROHIBITED USES</h3>

			<p>You may use our site only for lawful purposes. You must not use our site:</p>

			<ol class="pad-left-2 pad-bottom-2">
				<li>in any way that breaches any applicable local, national or international law or regulation;</li>
				<li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</li>
				<li>to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards which are set out below;</li>
				<li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam);</li>
				<li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware;</li>
				<li>in order to harm or attempt to harm minors in any way.</li>
			</ol>

			<p>You also agree not to:</p>

			<ol class="pad-left-2 pad-bottom-2">
				<li>reproduce, duplicate, copy or re-sell any part of our site in contravention of ourterms of use; and</li>
				<li>access without authority, interfere with, damage or disrupt any part of our site, any equipment or network on which our site is stored, any software used in the provision of our site, or any equipment or network or software owned or used by any third party.</li>
			</ol>

			<h3>CONTENT STANDARDS</h3>

			<p>These content standards apply to any and all material that you contribute to our site, and to any associated interactive services.</p>

			<p>Please note that you are required to comply with the spirit as well as the letter of the following standards, which apply to each part of any contribution as well as to its whole.</p>

			<p>Contributions must:</p>

			<ol class="pad-left-2 pad-bottom-2">
				<li>be accurate (where they state facts);</li>
				<li>be genuinely held (where they state opinions);</li>
				<li>comply with applicable law in the UK and in any country from which they are posted.</li>
			</ol>

			<p>Contributions must not:</p>

			<ol class="pad-left-2 pad-bottom-2">
				<li>contain any defamatory material;</li>
				<li>infringe any copyright, database right or trademark of any other person;</li>
				<li>advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse;</li>
				<li>be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence;</li>
				<li>promote any illegal activity;</li>
				<li>Contain any information which is obscene, offensive, hate oriented or inflammatory;</li>
				<li>promote sexually explicit material;</li>
				<li>promote violence;</li>
				<li>promote discrimination based on race, sex, religion, nationality, disability, sexual orientation, gender reassignment, marriage or civil partnership, pregnancy or maternity, or age;</li>
				<li>be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety;</li>
				<li>be likely to harass, upset, embarrass, alarm or annoy any other person;</li>
				<li>be used to impersonate any person, or to misrepresent your identity or your relationship with any person;</li>
				<li>be likely to deceive any person;</li>
				<li>give the false impression that they emanate from us.</li>

			</ol>


			<h3>BREACH OF ACCEPTABLE USEAGE POLICY</h3>
		
			<p>We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of our site. When we determine that a breach has occurred, we may take such action as we deem appropriate.</p>

			<p>Failure to comply with this acceptable use policy constitutes a material breach of the terms of  use of which it forms part, and may result in our taking all or any of the following actions:</p>

			<ol class="pad-left-2 pad-bottom-2">
				<li>Immediate, temporary or permanent withdrawal of your right to use our site;</li>
				<li>Immediate, temporary or permanent removal of any posting or material uploaded by you to our site;</li>
				<li>Issue of a warning to you;</li>
				<li>Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;</li>
				<li>Further legal action against you;</li>
				<li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary.</li>

			</ol>

			<p>We exclude liability for actions taken in response to breaches of this acceptable use policy. The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.</p>

			<h3>INTELLECTUAL PROPERTY RIGHTS</h3>
			
			<p>We are the owner or the licensee of all intellectual property rights in our site, and in the material it contains. Those materials are protected by copyright laws and treaties around the world, and we reserve all our rights in this respect.</p>

			<p>You may download extracts and print off one copy only of any page(s) from our site for your personal, non-commercial use, and you may also draw the attention of others within your organisation to material posted on our site.</p>

			<p>However, you must not modify in any way the paper or digital copies of any material you have printed or downloaded and you must not use any illustrations, photographs, video and/or audio sequences or any graphics separately from any related text.</p>

			<p>Our status (and that of any identified contributors) as the authors of material on our site must always be acknowledged in any printouts, copies or downloads.</p>

			<p>You must not use any part of the materials on our site for commercial purposes without first obtaining a licence from us.</p>

			<p>If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and without notice. In the event of this happening, you must return or destroy (at our option) any copies of the materials you have made.</p>


			<h3>RELIANCE ON WEBSITE CONTENT</h3>

			<p>Whilst we take all reasonable steps to ensure the accuracy of the commentary and other materials posted on our site, these are not intended to amount to advice on which reliance should be placed. We do not accept any liability arising from any reliance placed on such materials by any registered user, visitor to our site, or by any third party.</p>
			
			<h3>CHANGES TO WEBSITE</h3>
			
			<p>We aim to review and update our site regularly, however we cannot guarantee that the 
			material on our site will not be out of date at any given time, and we are under no obligation to 
			update such material. We may change the content of our site at any time and we are entitled to suspend access to our site or close it indefinitely without notice.</p>

			<h3>OUR LIABILITY</h3>
		
			<p>We do not give any guarantees, conditions or warranties as to the accuracy or completeness of the material displayed on our site.</p>

			<p>To the extent that the law allows us to do so, we (and other members of our group of companies and third parties connected to us) expressly exclude:</p>

			<ol class="pad-left-2 pad-bottom-2">
				<li>All conditions, warranties and other terms which might otherwise be implied by law.</li>
				<li>Any liability for any direct, indirect or consequential loss or damage incurred by any 	user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for loss of profit, loss of income, or loss of goodwill.</li>
			</ol>

			<p>We do not exclude our liability for death or personal injury arising from our negligence, 
			fraudulent misrepresentation, or any other liability which cannot be excluded or limited by law.</p>

			<h3>INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE</h3>

			<p>We process information about you in accordance with our privacy policy [INSERT AS LINK TO SITE'S PRIVACY POLICY]. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</p>

			<h3>UPLOADING MATERIAL TO OUR SITE</h3>

			<p>If you upload material to our site, or make contact with other users of our site, you must comply with the content standards set out in our acceptable use policy above. You warrant that any such contribution does comply with those standards, and you indemnify us for any breach of that warranty.</p>

			<p>We have the right to use, copy, distribute and disclose to third parties for any purpose any material you upload to our site. Such uploaded material will be considered non-confidential and non-proprietary. We also have the right to disclose your identity to any third party who claims that any material posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.</p>

			<p>We do not accept any liability to you or any third party for the content or accuracy of any materials posted on our site by you or by any other user. We reserve the right without notice to remove any material or posting you make on our site if, in our opinion, such material does not comply with the content standards set out above in our acceptable use policy.</p>

			<h3>VIRUSES, HACKING AND OTHER OFFENCES</h3>

			<p>You must not:</p>

			<ol class="pad-left-2 pad-bottom-2">
				<li>misuse our site by knowingly introducing viruses, Trojans, worms, logic bombs or other material which is malicious or technologically harmful;</li>
				<li>attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site;</li>
				<li>attack our site via a denial-of-service attack or a distributed denial-of service attack, or by any other means.</li>
			</ol>

			<p>We do not accept liability for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site, or due to your downloading any material posted on it, or on any website linked to it.</p>
			
			<h3>LINKING TO OUR SITE</h3>

			<p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not however establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page. We reserve the right to withdraw linking permission without notice. The website from which you are linking must comply in all respects with the content standards set out in our acceptable use policy above, and you must own the website from which you are linking.</p>

			<h3>TERMS OF SALE – THE PROCESS</h3>
			
			<ol class="pad-left-2 pad-bottom-2" style="list-style-type:lower-roman">
				<li>You create an account with Us as the guardian or parent of a child under the age of 18 years old.  When creating the account, you confirm you are legally capable of entering into a contract and you are over the age of 18.  You must also confirm your address which must be in the European Union and you must possess a valid debit or credit card. </li>
				<li>You create a unique profile for each child matching his or her preferences on garments and styles. You will then request a trunk of products to be sent to you.</li>
				<li>When you place your first order, you will be directed to a payment gateway where your card will be authorized (which means a transaction will be created to validate the card).  The card details are then stored in the payment gateway to enable Us to confirm you have sufficient funds to pay for the whole of the order.</li>
				<li>Based upon your chosen preferences, we will then select products which we deem suitable for your box. Prices for these products will be as per our standard list of prices. </li>
				<li>When your box is chosen and ready to send we will send you an email with confirmation of prices for the products in your box at the time and date of dispatch to you.</li>
				<li>The contract between us will only relate to the products we have placed into your box and the prices as listed in our dispatch email.</li>
				<li>We then send your order to you matching your chosen preferences. Shipping to return the order is free but we reserve the right to levy a small fee for exchanges to cover only the postal charges.</li>
				<li>You have 10 days (from the day after the order was delivered to you to decide what items you wish to keep). It is Your responsibility to log onto your account and notify Us of any returns to take place following the guidelines enclosed with the sale note sent to you with the order.</li>
				<li>When we receive any unwanted items back from you, these will be logged onto our system and you will be invoiced and charged for the goods you have retained.</li>

				<span class="pad-top-1 pad-bottom-1">Price and Payment</span>

				<li>Prices include VAT at the prevailing rate (if applicable).  The price of the Products and our delivery charges will be as quoted from time to time, except in cases of obvious error. </li>
				<li>Our prices and delivery charges are liable to change. However, once we have sent to you a dispatch confirmation, you will not be affected by any subsequent price changes. </li>
				<li>It is sometimes possible that we provide you with an incorrectly priced product due to the large amount of products that we stock. If this does happen, you will be notified and will have the right to cancel the purchase of that particular item or proceed at the correct price. You do not however have the right to accept the item at an incorrect price.</li>
				<li>We only accept payment by debit or credit card. Your card will only be debited by us when you have placed your order or in the event that your right to cancel has expired and you are deemed to have accepted the whole box. </li>
				<li>When you place an order, we will carry out a credit check on you and we will also debit your card for £1.00 as an authorisation checking procedure. This fee will be refunded to you once we have received back your box and we have confirmation of which items you wish to keep. We reserve the right not to dispatch any products until we have completed the credit check and authorisation charge to our satisfaction.</li>


				<li>Payment will be taken for agreed items and your right to cancel has expired.  This occurs 10 working days after you have received the items.</li>

				<span class="pad-top-1 pad-bottom-1">Cancellation Policy</span>
				<li>Full details of your statutory right to cancel are sent to you with any order.  If you require clarification on your right to cancel, please contact us.  You have 10 days from the date of delivery of your order to cancel this agreement for some or all of the products and to return the unwanted parts of the order. This does not affect your statutory rights.</li>

				<span class="pad-top-1 pad-bottom-1">Delivery and Availability</span>
				<li>All orders will be fulfilled as set out in any dispatch confirmation email.  If no delivery date is specified then we will endeavor to provide your items within 30 days of the order being placed.</li>

				<span class="pad-top-1 pad-bottom-1">Refunds</span>
				<li>Due to the way in which our service works, there are limited circumstances in which you would wish to request a refund or be entitled to one. You are of course entitled to a refund if you are exercising your statutory rights and each refund request would be considered on an individual basis. A refund would only be deemed necessary of we were to charge you incorrectly for goods which are not of satisfactory quality which you subsequently returned to us or if we charged you within 7 working days starting from the day after delivery but you then cancelled the agreement, In these limited circumstances, we agree to refund to you the full amount for which you were charged for the goods within 39 days of them being returned to us or the cancellation of the agreement. Any refunds will be to the card which we have stored for you.</li>

				<span class="pad-top-1 pad-bottom-1">Jurisdiction</span>
		    	<li>We do not accept order from outside the European Union.</li>

				<span class="pad-top-1 pad-bottom-1">External Links</span>
	       		<li>If we provide a link on our website to an external third party website, we do not provide any warranty or undertaking as to any goods or services you may order using external third parties. This does not affect your statutory rights against any third party including your rights under the legislation and Regulations mentioned below.</li>

				<span class="pad-top-1 pad-bottom-1">Risk and Title</span>
	       		<li>Goods sent to you will become your responsibility from the date and time of delivery. Any item returned to us must be in its original condition with original labels attached and packaging. If the item returned to us is not in the same condition as when we sent it to you, then we cannot accept the return and you will be charged accordingly. Title will pass to you when we have received full payment, including any agreed delivery charges for the item.</li>

			</ol>

			<h3>LINKS FROM OUR SITE</h3>

			<p>Where our site contains links to third party sites and resources, these links are provided for 
			your information only. You acknowledge that we have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>

			<h3>CONSUMER RIGHTS ACT 2015</h3>
			
			<p>On the 1st October 2015, the UK Government introduced the Consumer Right Act 2015.  This legislation was introduced to assist consumers by bringing together existing legislation and to make the law clearer and easier to understand.  We are fully complaint with the Legislation and acknowledge our responsibilities as a business providing goods to a consumer.  If you are therefore dissatisfied with any goods provided to you or our service, please contact us so we can resolve your problem.</p>

			<h3>CONSUMER CONTRACTS (INFORMATION, CANCELLATION AND ADDITIONAL CHARGES)  REGULATIONS 2013 (the Regulations)</h3>
			
			<p>We act in accordance with the above Regulations.  When you purchase any goods from us you will:-</p>

			<ul class="pad-left-2 pad-bottom-2">
				<li>Be given clear information about the goods prior to you purchasing</li>
				<li>Be sent a confirmation of your purchase after you have purchased the goods</li>
				<li>Be informed of any additional charges prior to you placing an order (such as delivery charges)</li>
				<li>Be informed of your right to cancel your order within the 14 day cooling off period</li>
				<li>Receive your goods within 30 days after you have placed your order (unless you agree to a different date where an item is for example out of stock)</li>
				<li>Receive a refund for goods ordered if items are not delivered on an agreed delivery date or within 30 days from the date you placed your order</li>

			</ul>

			<h3>JURISDICTION AND APPLICABLE LAW</h3>

			<p>These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the laws of England and Wales. The English courts will have exclusive jurisdiction over any claim or dispute which arises from or relates to a visit to our site (including non-contractual claims and disputes).</p>

			<h3>VARIATIONS</h3>

			<p>We may revise these terms of use at any time by amending this page. Please check this page from time to time to take notice of any changes we have made, as they are binding on you.</p>

			<p>Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site.</p>

	        <div class="pad-bottom-4"> &nbsp;</div>

		{{/columnContainer}}
			
	</section>
</template>