<template name="admin_settings">
    
    <div class="row">
        
        <div class="small-12 columns">
            
            <form id="returnDays">
                <label for="returnDaysInput">Default Return Period</label>
                <input type="number" id="returnDaysInput" value="{{globalSetting 'daysToReturn'}}"> days
                <button type="submit">Set</button>
            </form>
            
            <form id="minColors">
                <label for="minColorsInput">Minimum Colours</label>
                <input type="number" id="minColorsInput" value="{{globalSetting 'minColors'}}">
                <button type="submit">Set</button>
            </form>

            <form id="minBrands">
                <label for="minBrandsInput">Minimum Brands</label>
                <input type="number" id="minBrandsInput" value="{{globalSetting 'minBrands'}}">
                <button type="submit">Set</button>
            </form>
            
            <form id="minLooks">
                <label for="minLooksInput">Minimum Looks</label>
                <input type="number" id="minLooksInput" value="{{globalSetting 'minLooks'}}">
                <button type="submit">Set</button>
            </form>
            
        </div>
        
    </div>
    
</template>