.admin{

    .table-header{
        background: $text;
        color: $background;
        font-weight: bold;
    }
    
    .admin-nav{
        
        background: white;
        border-bottom: 1px solid black;
        
        li{
            padding: 1rem 1rem 1rem 0;
            display: inline-block;
        }
        
        input{
            margin: 0;
        }
        
        button{
            width: 100%;
            padding: .5rem 0;
            margin: 0;
        }
        
    }
    
}