<template name="admin_master">
    <div class="admin row pad-top-4">
        <div class="small-12 columns">

            {{> header }}
            
            <nav class="admin-nav row">
               <div class="small-10 columns">
               
                    <ul>
                        <a href="{{pathFor 'admin_customers'}}">
                            <li>
                                Customers
                                {{# unless isRoute 'admin_customer' }}
                                    {{> admin_customerNotifications }}
                                {{/unless}}
                            </li>
                        </a>
                        
                        <a href="{{pathFor 'admin_inventory'}}">
                            <li>Inventory</li>
                        </a>
                        <a href="{{pathFor 'admin_brands'}}">
                            <li>Brands</li>
                        </a>
                        <a href="{{pathFor 'admin_garment_types'}}">
                            <li>Garment Types</li>
                        </a>
                        <a href="{{pathFor 'admin_universes'}}">
                            <li>Universes</li>
                        </a>
                        <a href="{{pathFor 'admin_settings'}}">
                            <li>Settings</li>
                        </a>
                    </ul>
               
                </div>
                
                <form class="find-order">
                    <div class="small-1 columns">
                        <input type="text" class='order-finder' placeholder="Order #">
                    </div>
                    <div class="small-1 columns">
                        <button type="submit">Find</button>
                    </div>
                </form>
            </nav>

        </div>
    </div>
    
    {{ >yield  }}
    
</template>