@keyframes bob{
	
	$steps: 8;
	$distance: 0.1rem;
	
	@for $step from 0 through $steps {
		
		$progress: $step/$steps;
		
		$progressRad: (($progress * 2 - 1) * $PI) + $PI/2;
		$progressCos: cos($progressRad);
		$progressSin: sin($progressRad);
		$transformX: $progressCos * $distance;
		$transformY: $progressSin * $distance;
				
		#{$progress*100}% {
			transform: translate3d(#{$transformX}, #{$transformY + $distance}, 0);
		}
		
	}
	
}

.bob{
	animation: bob 2s linear infinite;
}