@mixin bob-keyframes($name, $distance){
	
	@keyframes #{$name}{
		
		$steps: 8;
		
		@for $step from 0 through $steps {
			
			$progress: $step/$steps;
			
			$progressRad: (($progress * 2 - 1) * $PI) + $PI/2;
			$progressCos: cos($progressRad);
			$progressSin: sin($progressRad);
			$transformX: $progressCos * $distance;
			$transformY: $progressSin * $distance;
					
			#{$progress*100}% {
				transform: translate3d(#{$transformX}, #{$transformY + $distance}, 0);
			}
			
		}
		
	}
	
	.#{$name}{
		animation: #{$name} 2s linear infinite;
	}
	
}

@include bob-keyframes(bob, 0.1rem);
@include bob-keyframes(big-bob, 0.25rem);