.bg-teal { background-color:$teal; }
.bg-pink { background-color:$pink; }
.bg-green { background-color:$green; }
.bg-orange { background-color:$orange; }
.bg-blue { background-color:$blue; }
.bg-dark-grey { background-color:$darkGrey; }
.bg-light-grey { background-color:$lightGrey; }
.bg-space { background-color:$space; }