$pink: #e7bbb4;
$green: #9ba084;
$darkGrey: #9c9c93;
$lightGrey: #e2e2e2;
$lightGreyTransparent: rgba(226,226,226,0);
$orange: #EDA989;
$teal: #ACD9D5;
$blue: #9C9CD2;

$background: white;
$text: black;
$notification: orange;
$warning: red;
$selected: #dddddd;