$pink: #e7bbb4;
$green: #9ba084;
$darkGrey: #9c9c93;
$mediumGrey: #d4d4d4;
$lightGrey: #e2e2e2;
$lightGreyTransparent: rgba(226,226,226,0);
$orange: #EDA989;
$teal: #ACD9D5;
$blue: #9C9CD2;
$space: #4a4a4a;

$colors: (pink $pink),
	(green $green),
	(dark-grey $darkGrey),
	(light-grey $lightGrey),
	(teal $teal),
	(blue $blue),
	(white white),
	(black black),
	(space $space),
	(orange $orange);