@keyframes input-placeholder-flash{
	from {
		color: rgba(255,255,255,0.4);
		border-bottom-color: rgba(255, 255, 255, 0.4);
	}
	to{
		color: rgba(255,255,255,0.9);
		border-bottom-color: rgba(255, 255, 255, 0.9);
	}
}

form{
	
	input{
		font-size: 1em;
		padding: 0;
		margin: 0;
		border: none;
		color: rgba(255, 255, 255, 0.7);
		height: 1.42em;
		background: transparent;
		border-bottom-width: $underlineWidth;
		border-bottom-style: dashed;
		border-bottom-color: rgba(255, 255, 255, 0.5);
		transition: border-bottom-color 0.2s, color 0.2s;
		display: block;
		max-width: none;
		width: 100%;
		
		&:hover,
		&:focus{
			color: white;
			border-bottom-color: white;
			outline: 0;
			background: none;
		}
		
	}
	
	button{
		font-size: 1em;
		background: none;
		padding: 0;
		@include underline;
		padding: 0;
		margin: 0;
		
		&:hover{
			background: none;
		}
		
	}
	
}


@mixin placeholder{
	animation: input-placeholder-flash 0.75s infinite alternate;
	color: white;
}

::-webkit-input-placeholder { @include placeholder; }
::-moz-placeholder { @include placeholder; }
:-ms-input-placeholder { @include placeholder; }
input:-moz-placeholder { @include placeholder; }

input[type="color"]{
	width: 2.5em;
	padding: 0;
	border: none;
	position: relative;
	display: inline-block;
	
	&:after{
		content: '+';
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		transform: translate3d(-50%, -50%, 0);
		font-size: 2em;
		margin: 0;
	}
	
}


.button.expand, .button {
	font-weight:600;
	padding:0.65rem 0.65rem 0.5rem 0.65rem;
	letter-spacing:1px; 
}

.button.white {
	background:white;
	border:6px solid white !important;
}

.button.white:hover { background:none; }

.button.white.text-orange {color: $orange }
.button.white.text-green {color: $green }
.button.white.text-teal {color: $teal }
.button.white.text-blue {color: $blue }


.button.white.text-orange:hover, .button.white.text-green:hover, .button.white.text-teal:hover, .button.white.text-blue:hover {
	color:white;
} 

button:focus{
	background: transparent;
	outline: 0;
}

.check{
	
	cursor: pointer;
	user-select: none;
	.checkbox{
		box-sizing: border-box;
		width: .8em;
		height: .8em;
		display: inline-block;
		border-width: $underlineWidth;
		border-style: solid;
		border-color: white;
		border-radius: 20% 20%;
		transition: border-width .2s, background .01s;
		margin-right: 0.5em;
	}
	
	&:hover .checkbox{
		border-width: $underlineWidth * 2;
	}
	
	&.checked .checkbox{
		border-width: .4em;
		background: white;
		transition: border-width .2s, background .01s .2s;
	}
	
	&.checked .label{
		font-weight: bold;
	}
	
}