@keyframes input-placeholder-flash{
	from {
		color: rgba(255,255,255,0.4);
		border-bottom-color: rgba(255, 255, 255, 0.4);
	}
	to{
		color: rgba(255,255,255,0.9);
		border-bottom-color: rgba(255, 255, 255, 0.9);
	}
}

form{
	
	input{
		font-size: 1em;
		padding: 0;
		margin: 0;
		border: none;
		color: rgba(255, 255, 255, 0.7);
		height: 1.42em;
		background: transparent;
		border-bottom-width: $underlineWidth;
		border-bottom-style: dashed;
		border-bottom-color: rgba(255, 255, 255, 0.5);
		transition: border-bottom-color 0.2s, color 0.2s;
		display: block;
		max-width: none;
		width: 100%;
		
		&:hover,
		&:focus{
			color: white;
			border-bottom-color: white;
			outline: 0;
			background: none;
		}
		
	}
	
	button{
		font-size: 1em;
		background: none;
		padding: 0;
		@include underline;
		padding: 0;
		margin: 0;
		
		&:hover{
			background: none;
		}
		
	}
	
}


@mixin placeholder{
	animation: input-placeholder-flash 0.75s infinite alternate;
	color: white;
}

::-webkit-input-placeholder { @include placeholder; }
::-moz-placeholder { @include placeholder; }
:-ms-input-placeholder { @include placeholder; }
input:-moz-placeholder { @include placeholder; }

input[type="color"]{
	width: 2.5em;
	padding: 0;
	border: none;
	position: relative;
	display: inline-block;
	
	&:after{
		content: '+';
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		transform: translate3d(-50%, -50%, 0);
		font-size: 2em;
		margin: 0;
	}
	
}