@mixin center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.center,
.small-center{
	@include center;
}

@media #{$medium-up} {
	.medium-center{
		@include center;
	}
}

@media #{$large-up} {
	.large-center{
		@include center;
	}
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}

.pos-abs{
	position: absolute;
}

.pos-rel{
	position: relative;
}

.no-pointer{
	pointer-events: none !important;
}

.no-overflow{
	overflow: hidden;
}

.height-1em{
	height: 1em;
	vertical-align: baseline;
}

@media only screen and (max-width: 960px) and (orientation: landscape) {
	body {
		transform: rotate(-90deg);
	}
}