@mixin bubble($size) {
    display: inline-block;
    width: auto;
    min-width: $size;
    height: $size;
    border-radius: $size/2 $size/2;
    padding: ($size - 1)/2;
    box-sizing: border-box;
    line-height: 1;
    text-align: center;
}

.notifications-count{
    @include bubble(2rem);
    display: inline-block;
    background: $notification;
    color: $background;
}

.warnings-count{
    @include bubble(2rem);
    display: inline-block;
    background: $warning;
    color: $background;
}

ul.notifications{
    
    color: $notification;
    list-style: none;
    
    & li:before{
        content: '?';
        @include bubble(1.5rem);
        color: $background;
        background: $notification;
        margin-right: 0.5rem;
    }
    
}

ul.warnings{
    
    color: $warning;
    list-style: none;
    
    & li:before{
        content: '!';
        @include bubble(1.5rem);
        color: $background;
        background: $warning;
        margin-right: 0.5rem;
    }
    
}