@import url("//hello.myfonts.net/count/2f5228");
@import url("//hello.myfonts.net/count/300bd6");

@font-face {
	font-family: Soleil;
	src: url('fonts/300BD6_1_0.eot');
	src: url('fonts/300BD6_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/300BD6_1_0.woff2') format('woff2'),url('fonts/300BD6_1_0.woff') format('woff'),url('fonts/300BD6_1_0.ttf') format('truetype');
}

@font-face {
	font-family: Soleil;
	font-style: italic;
	src: url('fonts/300BD6_0_0.eot');
	src: url('fonts/300BD6_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/300BD6_0_0.woff2') format('woff2'),url('fonts/300BD6_0_0.woff') format('woff'),url('fonts/300BD6_0_0.ttf') format('truetype');
}

@font-face {
	font-family: Soleil;
	font-weight: bold;
	src: url('fonts/2F5228_0_0.eot');
	src: url('fonts/2F5228_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F5228_0_0.woff2') format('woff2'),url('fonts/2F5228_0_0.woff') format('woff'),url('fonts/2F5228_0_0.ttf') format('truetype');
	
}
  
@font-face {
	font-family: Soleil;
	font-weight: 900;
	src: url('fonts/2F5228_1_0.eot');
	src: url('fonts/2F5228_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2F5228_1_0.woff2') format('woff2'),url('fonts/2F5228_1_0.woff') format('woff'),url('fonts/2F5228_1_0.ttf') format('truetype');
} 

.text-regular{
	font-weight: normal;
}

.text-italic{
	font-weight: normal;
	font-style: italic;
}

.text-bold{
	font-weight: bold;
}

.text-xbold{
	font-weight: 900;
}

.text-caps{
	text-transform: uppercase;
}

@each $color in $colors{
	
	$className: nth($color, 1);
	$property: nth($color, 2);
	
	.text-#{$className} {
		color: $property;
	}
	
	a.text-#{$className},
	.text-#{$className} a {
		color: $property;
		border-bottom-color: transparentize($property, 0.2);
		
		&:hover{
			border-bottom-color: $property;
		}
		
		&.no-line{
			border-bottom-color: transparentize($property, 1);
		}
		
	}
	
}

@mixin underline{
	
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom-width: $underlineWidth;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0.8);
	transition: border-bottom-color 0.2s;
	
	&:hover{
		border-bottom-color: white;
	}
		
}

$baseFontSize: 22px;
$lineHeight: 1.6;
$underlineWidth: 0.08em;

@media #{$small-up} {
	html{
		font-size: 14px;
	}
}

@media #{$medium-up} {
	html{
		font-size: 16px;
	}
}

@media #{$large-up} {
	html{
		font-size: 18px;
	}
}

@function lines($number){
	@return $baseFontSize * $lineHeight * $number;
}

html{
	line-height: $lineHeight;
	font-family: Soleil;
}

a{
	@include underline;
}

a.no-line{
	padding-bottom: 0.1em;
	border-bottom-width: $underlineWidth;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0);
	transition: border-bottom-color 0.2s;
	&:not(.no-hover):hover{
		border-bottom-color: white;
	}
}

$text-class-names: (text font-size), (text font-size);
$text-class-count: 6;
$text-class-step: 0.2;

@include class-creator( $text-class-names, $text-class-count, $text-class-step, rem);

h2 {
	font-size:1.5rem;
}

h3{
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
}

.no-wrap{
	white-space: nowrap;
}

.no-overflow{
	overflow: hidden;
}

.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}