@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-Light.otf');
	font-weight: 300;
	
}

@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-Light Italic.otf');
	font-weight: 300;
	font-style: italic;
	
}

.text-light{
	font-weight: 300;
}


@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-Regular.otf');
	
}

.text-regular{
	font-weight: normal;
}

@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-Regular Italic.otf');
	font-style: italic;
	
}

.text-italic{
	font-weight: normal;
	font-style: italic;
}

@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-Book.otf');
	font-weight: 500;
	
}

@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-Book Italic.otf');
	font-weight: 500;
	font-style: italic;
	
}

.text-book{
	font-weight: 500;
}

@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-SemiBold.otf');
	font-weight: 600;
	
}

@font-face{
	
	font-family: 'Soleil';
	src: url('fonts/Soleil-SemiBold Italic.otf');
	font-weight: 600;
	font-style: italic;
	
}

.text-semibold{
	font-weight: 600;
}

@font-face{
	
	font-family: 'Soleil';
	font-weight: bold;
	src: url('fonts/Soleil-Bold.otf');
	
}

@font-face{
	
	font-family: 'Soleil';
	font-weight: bold;
	src: url('fonts/Soleil-Bold Italic.otf');
	font-style: italic;
	
}

.text-bold{
	font-weight: bold;
}

@font-face{
	
	font-family: 'Soleil';
	font-weight: 900;
	src: url('fonts/Soleil-XBold.otf');
	
}

@font-face{
	
	font-family: 'Soleil';
	font-weight: 900;
	src: url('fonts/Soleil-XBold Italic.otf');
	font-style: italic;
	
}

.text-xbold{
	font-weight: 900;
}

.text-caps{
	text-transform: uppercase;
}

@each $color in $colors{
	
	$className: nth($color, 1);
	$property: nth($color, 2);
	
	.text-#{$className} {
		color: $property;
	}
	
	a.text-#{$className},
	.text-#{$className} a {
		color: $property;
		border-bottom-color: transparentize($property, 0.2);
		
		&:hover{
			border-bottom-color: $property;
		}
		
		&.no-line{
			border-bottom-color: transparentize($property, 1);
		}
		
	}
	
}

@mixin underline{
	
	padding-bottom: 0.1em;
	border-bottom-width: $underlineWidth;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0.8);
	transition: border-bottom-color 0.2s;
	
	&:hover{
		border-bottom-color: white;
	}
		
}

$baseFontSize: 22px;
$lineHeight: 1.6;
$underlineWidth: 0.08em;

@media #{$small-up} {
	html{
		font-size: 15px;
	}
}

@media #{$medium-up} {
	html{
		font-size: 17px;
	}
}

@media #{$large-up} {
	html{
		font-size: 21px;
	}
}

@function lines($number){
	@return $baseFontSize * $lineHeight * $number;
}

html{
	line-height: $lineHeight;
	font-family: Soleil;
}

a{
	@include underline;
}

a.no-line{
	padding-bottom: 0.1em;
	border-bottom-width: $underlineWidth;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0);
	transition: border-bottom-color 0.2s;
	&:not(.no-hover):hover{
		border-bottom-color: white;
	}
}

$text-class-names: (text font-size), (text font-size);
$text-class-count: 6;
$text-class-step: 0.5;

@include class-creator( $text-class-names, $text-class-count, $text-class-step, rem);



h2 {
	font-size:1.5rem;
}

h3{
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
}

.no-wrap{
	white-space: nowrap;
}

.child-name{
	padding: 0.7rem 1.5rem 0.4rem 1.5rem;
	background: white;
	color: $teal;
	display: inline-block;
}
