header{
    
    nav{
        
        background: $text;
        color: $background;
        padding: 0.5rem 0;
        
        ul{
            
            margin: 0;
            
            li{
                
                display: inline-block;
                height: 1.5rem;
                margin-right: 2rem;
                
                &.profile{
                    font-weight: bold;
                }
                
            }
            
        }
        
    }
    
}