<template name="signup">    
    <div class="wave" style="background-image: url('/img/bg/wave_1.png');">
        
		{{> titleBar text="Sign Up"}}        
        
		{{# columnContainer size=6 }}
	            
            <form class="regular text-1-5 text-center pad-top-5">
                
                {{#if errorMessages}}
                    {{#each errorMessages}}
                        {{this}}
                    {{/each}}
                {{/if}}
                 
                <input class="text-center gap-bottom-0-5" type="text" name="firstName" placeholder="First Name" />
                <input class="text-center gap-bottom-0-5" type="text" name="lastName" placeholder="Last Name" />
                <input class="text-center gap-bottom-0-5" type="email" name="email" placeholder="Email" />
                <input class="text-center gap-bottom-0-5" type="password" name="password" placeholder="Password" />
                <input class="text-center gap-bottom-0-5" type="password" name="confirm" placeholder="Confirm Password" />
                <button type="submit" class="pad-top-3">Sign Up</button>
				
            </form>
	            
		{{/ columnContainer }}


    </div>
</template>