.profile-logo{
	
	height: 60%;
	
	.center{
		width: 80%;
		
		img{
			//transform: rotate(-90deg);
			transform-origin: 50% 50%;
		}
		
	}
	
}

.profile-content{
	margin: 0 1rem;
}

@media #{$large-up} {
	
	.profile-logo{
		height: 50%;
		
		.center{
			width: 60%;
		}
		
	}
	
	.profile-content{
		height: 50%;
		
		.center{
			width: 60%;
		}
		
		a{
			white-space: nowrap;
		}
	}
	
	
}