<template name="profile">
	
	{{#city classes="profile"}}
			
	    <div class="profile-logo pos-rel">
		    
		    <div class="center">
			    <img src="/img/logotype.svg" alt="" class="large-pad-top-4">
		    </div>
	        
	    </div>
	    
	    <div class="profile-content text-center pos-rel">
		    
		    <div class="large-center">
	        
		        <p class="text-1-5">
			        
					<b>{{greeting}}, {{currentUser.profile.firstName}}!</b>
	
					{{# if children }}
					
						How {{ plural children 'is' 'are' }} {{{ list children }}}?
						
						{{# if lastOrder }}
						
							{{# with lastOrder }}
							
								Your order <a href="/order/{{number}}">#{{ number }}</a>, for {{ forChild }}, was {{ status }} {{ actionTime }}.
							
							{{/ with }}
						
							{{# if moreOrders }}
						
								You have <a href="/orders">{{ moreOrders }} more {{ plural moreOrders 'order' }}</a> in progress as well.
						
							{{/ if }}
						
						{{ else }}
						
							{{# if oneChild }}
							
								Why not <a href="/child/{{ firstChild._id }}">order your first box?</a>
								
							{{ else }}
							
								Why not <a href="/child/{{ firstChild._id }}">order {{ firstChild.name }}'s first box?</a>
							
							{{/if}}
													
						{{/ if }}
						
					{{ else }}
					
						You haven't added any profiles for your children yet. <a href="/addChild">Add one now</a> or <a href="/about">learn how Muddy Creatures works.</a>
						
					{{/ if }}
			        
		        </p>
	        
		    </div>
	        
	    </div>
	    
	{{/city}}
    
</template>