<template name="admin_customerList">
    
    <div class="customer-list-header row">
        
        <div class="small-12 columns pad-top-0-5">
        
            <h2>Customers</h2>
            
            <input type="text" class="list-search" placeholder="Search">
        
        </div>
    
    </div>
    
    {{#each customers}}
        
        <a href="/admin/customer/{{_id}}">
        
            <div class="customer-list-row row {{selectedClass ..}}">
                
                <div class="small-12 columns">
                    
                    <div class="customer-name">{{name}}</div>
                    
                    {{#if notifications}}
                        <div class="notifications-count">
                            {{notifications}}
                        </div>
                    {{/if}}
                    
                    {{#if warnings}}
                        <div class="warnings-count">
                            {{warnings}}
                        </div>
                    {{/if}}
                    
                </div>
                
            </div>
        
        </a>
    
    {{/each}}
    
</template>