<template name="admin_customerDetail">
    
    <div class="customer-detail-header row">
        <div class="small-12 columns pad-top-0-5">
            <a href="/profile/{{_id}}" target="_blank">
                <h1>{{profile.firstName}} {{profile.lastName}}</h1>
            </a>
            <a href="mailto:{{email}}">{{email}}</a>
        </div>
    </div>
    
    {{#if hasOrders }}
        
        {{# each orders }}
            
            {{> admin_customerDetailOrderRow }}
        
        {{/ each }}
    
    {{ else }}
    
        <div class="row">
            <div class="small-12 columns">
                
                No Orders
                
            </div>
        </div>
    
    {{/ if}}
        
</template>