<template name="admin_customerDetailOrderRow">
    
    <div class="order-header row">
        
        <div class="small-12 columns pad-top-2">
            
            <h2>Order #{{number}}: {{getOrderStatus this}}</h2>
            
        </div>
        
    </div>
    
    <div class="row pad-top-2">
        
        <div class="small-4 columns">
            
            <h3>Recipient</h3>
            {{#with child}}
                <strong>{{name}}</strong> ({{getAge dob}}-year-old {{gender}})<br>
            {{/with}}
            {{ address.line1 }}<br>
            {{#if address.line2}}{{ address.line2 }}<br>{{/if}}
            {{ address.city }}<br>
            {{ address.county }}<br>
            {{ address.country }}<br>
            {{ address.postcode }}
            
        </div>
        
        <div class="small-4 columns">
            
            <h3>Garments Wanted</h3>
            
            {{{list garments}}}
            
        </div>
        
        <div class="small-4 columns">
	        
	        <h3>Sizing</h3>
	        
			    <p>				    	
			    	<span class="text-xbold">{{sizing.height}}</span>cm tall<br>
			    	<span class="text-xbold">{{sizing.weight}}</span>kg weight<br>
			    	Size <span class="text-xbold">{{sizing.shoes}}</span> shoes<br>
			    </p>  
	        
        </div>
        
    </div>
    
    <div class="row">
	    
	    <div class="small-4 columns">
		    			    
		    <div class="full-width canvas-ratio pos-rel">
			    {{> universePreview universe}}
		    </div>			    
			    		    
	    </div>
        
        <div class="small-8 columns">
            
		    <h3>Colors</h3>
		    <p>
			    {{#each colors}}
			    	{{>swatch color=color size=times}} <span class="text-xbold text-caps">{{name}}</span><br>
			    {{/each}}
		    </p>
		    <h3>Looks</h3>
		    
			<p>
			    
				{{#each looks}}

			    	<span>
			    		<span class="text-xbold text-caps">{{> lookIcon }} {{name}}</span>
			    		<span class="text-1">(&times;{{times}})</span><br>
			    	</span>
			    	
			    {{/each}}
			</p>

        </div>
        
    </div>
        
    {{> admin_orderActions }}
        
    
</template>