.order-form{
	min-height: 100%;
	min-height: 100vh;
	width: 100%;
	padding-top: 7rem;
	transition: background-color 1s;
	
	.braintree-container{
		background: url('/img/braintree.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80% auto;
		min-height: 10rem;
		.braintree{
			transition: opacity .5s;
			opacity: 0;
		}
		&.ready{
			.braintree{
				opacity: 1;
			}
		}
	}
	
	.braintree{
		background: white;
		border-radius: .1em;
	}
	
	input[type="submit"]{
		margin-top: 2rem;
		font-size: 2rem;
		text-align: left;
		display: inline-block;
		width: auto;
		color: white;
	}
	
	.column-container{
		margin-top: 8rem;
	}
	
}

.order-progress{
	
	position: fixed;
	top: 5rem;
	
	[class^="stage-"]{
		
		opacity: 0.5;
		transition: opacity .2s;
		height: 2rem;
		
		&.visitable{
			opacity: 1;
		}
		
		&.visited.valid:not(.active):not(.stage-3) {
			h3{
				font-size: 1rem;
				padding: 0;
				font-weight: normal;
			}
			p {
				opacity: 1;
			}
		}
		
		&.active{
			opacity: 1;
			animation: bob 1.5s linear infinite;
			h3{
				font-weight: 900;
			}
		}
		
		h3{
			font-weight: 200;
			font-size: 1em;
			transition: font-size .5s, padding .5s;
		}
		
		p{
			font-weight: 200;
			transition: opacity .5s;
			max-height: $lineHeight * 2em;
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 0;
			pointer-events: none;
		}
		
	}
		
}

.place-order:not(.ready){
	opacity: 0;
	pointer-events: none;
}

@media #{$medium-up} {
	
	.order-progress{
	
		[class^="stage-"] {
			
			height: 5rem;
			
			h3{
				padding-top: 1.5rem;
			}
			
		}
		
		.stage-3 h3{
			padding-top: .5rem;
		}
		
	}
	
}