<template name="orderFormPay">
	
	<form id="checkout" method="post" action="/checkout">
		
		<div class="row">
			
			<div class="medium-6 large-8 columns">
				<p>
					In order for us to send you a box of joy, we need to verify your card details.
				</p>
				<p>
					To do this, a £1 deposit payment will be debited from your card, however, the £1 deposit is fully refundable and you will only be charged for items you decide to keep.
				</p>
			</div>
		
			<div class="medium-6 large-4 columns braintree-container {{ready}}">
				
				<div id="payment-form" class="braintree pad-0-5"></div>
				
			</div>
		
		</div>
		
		<div class="row">
			
			<div class="small-12 columns">
				{{#unless ready}}Please wait...{{/unless}}<input class="place-order {{ready}}" type="submit" value="Place order">
			</div>
			
		</div>
						
	</form>
</template>