<template name="addChild">

	<section class="addChild">

	{{> titleBar text="Add a Little One"}}

	    <div class="row full-height">
		    
	        <div class="add-child text-2 small-12 medium-8 columns center">
		        
		        {{#if error}}
			        <p class="text-1">{{error}}</p>
		        {{/if}}
		        
				I have a {{#if gender}}<img src="/img/little-{{gender}}.png"> {{/if}}{{> inlineSelect id='newChildGender' options='boy, girl' }}
				
				{{# if gender }}
				
					called {{> inlineInput id='newChildName' autofocus=true }}.<br>
					
					{{# if sessionGet 'newChildName'}}
						
						{{ heShe (sessionGet 'newChildGender') true }} was born on<br>
						{{> inlineDateInput id="newChildDob" after="." }}
						
						{{#if sessionGet 'newChildDobYear' }}
						
							<br><br><a class="next">Next</a>
						
						{{/ if }}
						
					{{/if}}
					
				{{/ if }}
				<!--
				<br>
				<br>
				<br>
				<a class="text-1">I'm expecting</a>
				-->
			</div>
		</div>
	
	</section>
	
</template>