<template name="admin_garment_types">
    
    <div class="row">
        <div class="small-12 columns pad-top-1 pad-bottom-1">
            
            <h1>Garment Types</h1>
            
        </div>
    </div>
    
    {{> tableEditor garmentTypeSchema }}
    
    <!--
	    
	<div class='row'>
    	
    	<div class='small-6 columns'>
	    	<b>Name</b>
    	</div>
    	<div class='small-6 columns'>
	    	<b>Sizing</b>
    	</div>
    	
	</div>
	
    {{#each garmentTypes}}
    
    	<div class='row'>
	    	
	    	<div class='small-6 columns'>
		    	{{name}}
	    	</div>
	    	<div class='small-5 columns'>
		    	{{sizing}}
	    	</div>
	    	<div class="small-1 columns">
		    	<a class="remove-garment-type">&times;</a>
	    	</div>
	    	
    	</div>
    
    {{/each}}
    
    <div class="row">
	    
	    <form>
		    
		    <div class="small-6 columns">
			    <input type="text" name="name" placeholder="Name">
		    </div>
		    
		    <div class="small-5 columns">
			    <input type="text" name="sizing" placeholder="Sizing">
		    </div>
		    
		    <div class="small-1 columns">
			    <button type="submit">Add</button>
		    </div>
		    
	    </form>
	    
    </div>
    
    -->
    
</template>