<template name="admin_inventoryListRow">
    
    <div class="item-row row">
        
        <a href="/admin/inventory/{{_id}}">
        
            <div class="small-7 columns">
                <strong>{{brand}} {{garment}}</strong><br>
                {{description}}
            </div>
        
        </a>
        
        <div class="small-1 columns">
            Size {{size}}<br>
            £{{money cost}}
        </div>
        
        <div class="small-1 columns">{{available}}</div>
        
        <div class="small-1 columns">{{inOrders}}</div>
        
        <div class="small-1 columns">{{sold}}</div>
        
        <div class="small-1 columns">
            {{# unless cannotSubtractQuantity }}
                <a class="subtract-quantity">-</a>
            {{/unless}}
            <a class="add-quantity">+</a>
        </div>
       
    </div>
    <div class="row">
        <div class="small-12 columns">
             <hr>
        </div>
    </div>
</template>