<template name="admin_inventoryListHeadings">
    
    <div class="table-header row pad-bottom-0-5">
        
        <div class="small-8 columns">&nbsp;</div>
        
        <div class="small-1 columns"><strong>Available</strong></div>
        
        <div class="small-1 columns"><strong>In orders</strong></div>
        
        <div class="small-1 columns"><strong>Sold</strong></div>
        
        <div class="small-1 columns"><strong>Quantity</strong></div>
        
       
    </div>
    
</template>