<template name="admin_singleItem">
    
    {{#with quantifiedItem}}
    
    <div class="row">
        
        <div class="small-6 columns">
            <input type="text" value="{{brand}}">
        </div>
        
        <div class="small-6 columns">
            <input type="text" value="{{garment}}">
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="small-12 columns">
        
            <textarea value="{{description}}"></textarea>
        
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="small-3 columns">
            <strong>Available: </strong> {{available}}
        </div>
        
        <div class="small-3 columns">
            <strong>In Orders: </strong> {{inOrders}}<br>
        </div>
        
        <div class="small-3 columns">
            <strong>Sold: </strong> {{sold}}
        </div>
        <div class="small-3 columns">
            <form id="add-quantity">
                <input type="number" id="add-quantity-input" value=0>
                <button type='submit'>Add</button>
            </form>
            <form id="subtract-quantity">
                <input type="number" id="subtract-quantity-input" value=0>
                <button type='submit'>Subtract</button>
            </form>
        </div>
        
    </div>

    
        <div class="row">
            
            <div class="small-12 columns">
                
                <h2>History</h2>
                
            </div>
            
        </div>
        
        {{#each relatedOrders }}
        
            <div class="row">
                
                <div class="small-2 columns">
                    
                    <a href="/admin/customer/{{owner}}">
                        <strong>Order #{{number}}</strong> ({{capitalise status}})
                    </a>
                    <br>
                    
                </div>
                
                <div class="small-2 columns">
                    {{quantity}} included<br>
                    {{#if markedForRetun}}
                        {{returned}}/{{markedforReturn}} returned
                    {{else}}
                        None returned
                    {{/if}}
                </div>
                
                <div class="small-8 columns">
                    {{#if feedback}}<strong>Feedback:</strong> {{feedback}}{{/if}}
                </div>
                
            </div>
        
        {{/each}}
        
    {{/with}}
    
</template>