<template name="master">
	
	<div id="menuButton">
		<img src="/img/menu.svg">
	</div>
	
	<div id="menu" class="arge-text-1 text-black {{ menuClass }}">
		
		<img id="cloud1" src="/img/cloud.svg">
		<img id="cloud2" src="/img/cloud.svg">
		<img id="cloud3" src="/img/cloud.svg">
		<img id="ufo" src="/img/ufo.svg">
		<img id="balloon" src="/img/balloon.svg">
		
		<div id="menu-top">
			
			{{# if currentUser }}
			
				<ul>
				
					<li class="list-title">
						<a class="no-line" href="/profile"><b>{{ currentUser.profile.firstName }} {{ currentUser.profile.lastName }}</b></a>
					</li>
											
					<li>
						<a href="/orders">Order history</a>
					</li>
									
					<li>
						<a href="/account">Manage account</a>
					</li>
					
					<li>
						<a class="logout">Log out</a>
					</li>
				
				</ul>
				
				<ul>
					
					<li class="list-title">
						<a class="no-line" href="/children">Children</a>
					</li>
					
					{{#if children.count}}
					
						{{# each children }}
						
							<li>
								<a href="/child/{{ _id }}">{{ name }}</a>
							</li>
						
						{{/ each }}
						
					{{else}}
					
						<li><i>None</i></li>
					
					{{/if}}
					
					<li> + <a href="/addChild">Add</a></li>
					
				</ul>
					
				{{#if isAdmin}}
				
					<ul>
						
						<li class="list-title">Admin</li>
						<!--
						<li>
							<a href="/admin/customers">Customers</a>
						</li>
						
						<li>
							<a href="/admin/inventory">Inventory</a>
						</li>
						
						<li>
							<a href="/admin/looks">Looks</a>
						</li>
						-->
						<li>
							<a href="/admin/colours">Colours</a>
						</li>
						<!--
						<li>
							<a href="/admin/customers">Brands</a>
						</li>
						-->
						<li>
							<a href="/admin/garment-types">Garment Types</a>
						</li>
						
						<li>
							<a href="/admin/settings">Settings</a>
						</li>
						
					</ul>
					
				{{/if}}
			
			{{ else }}
			
				<ul>
				
					<li class="list-title">
						<a class="no-line" href="/signup">Create account</a>
					</li>
				
					<li class="list-title">
						<a class="no-line" href="/login">Log in</a>
					</li>
					
				</ul>
				
			{{/ if }}
			
		</div>
		
		<div id="menu-bottom">
			
			<ul>
				
				<li>
					<a href="/about">How it works</a>
				</li>
				
				<li>
					<a href="/faq">FAQ</a>
				</li>
				
				<li>
					<a href="/terms">Terms and conditions</a>
				</li>
				
				<li>
					<a href="/privacy-policy">Privacy policy</a>
				</li>
				
				<li>
					<a href="/contact">Contact</a>
				</li>
				
				<li class="social">
					<a href="https://www.facebook.com/muddycreatures" target="_blank"><img src="/img/fb.svg"></a>
					<a href="https://www.instagram.com/muddycreatures/" target="_blank"><img src="/img/insta.svg"></a>
				</li>
				
			</ul>
			
		</div>
		
	</div>
	
	<div id="overlay" class="{{ menuClass }}"></div>
    
    <div id="transition-container">
	    {{#each thisArray}}
	    	<div class="container {{bgClass}}">
				{{> yield}}
	    	</div>
		{{/each}}
	</div>
    
</template>