$helpTextHeight: 50px;

.editor-title{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	margin: 0.5rem 0 0.5rem 0;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .title{
	    font-size: 1.1rem;
	    text-transform: uppercase;
	    font-weight: 900;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
    }

}

.editor{
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
		
	width: 100%;
	height: 100%;
	position: fixed;
	background: $darkGrey;
	overflow: hidden;
	
	&.no-cursor{
		cursor: none;
	}
	
	.editor-help{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
	
	.editor-region{
		
		border: 1px solid red;
		position: absolute;
		transition: transform 0.5s, opacity 0.5s;
		transform-origin: 0 0;
		
		&.hidden{
			opacity: 0;
			pointer-events: none;
		}
	}
	
	.editor-ui{
		position: absolute;
		transform: translate3d(-50%, -50%, 0);
		top: 50%;
		left: 50%;
	}
	
	.editor-canvas{
		
		width: 100%;
		padding-bottom: 141%;
		background: white;
		
		& canvas{
			
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			
		}
		
	}
		
	.editor-pen{
		
		margin-top: -15px;
		margin-left: -15px;
		position: absolute;
		width: 30px;
		height: 30px;
		border: 2px solid white;
		border-radius: 50% 50%;
		z-index: 100;
		pointer-events: none;
		
		/*
		$penWidth: 15;
		$penLength: 50;
		
		@function pythagoras($x){
			@return sqrt($x * $x + $x * $x);
		}
		
		@function invPythagoras($x){
			@return sqrt( ($x * $x) / 2 );
		}		
		
		position: absolute;
		width: $penWidth * 1px;
		height: $penLength * 1px;
		pointer-events: none;
		z-index: 100;
		border: 1px solid white;
		transform-origin: ( ($penWidth/2) * 1px ) ( ($penLength + ($penWidth/2)) * 1px );
		transform: rotate(45deg);
		margin-top: ( $penLength + invPythagoras($penWidth) ) * -1px;
		
		&:after,
		&:before{
			content: '';
			position: absolute;
			transform: rotate(-45deg);
		}
						
		&:before{
			width: invPythagoras($penWidth) * 1px;
			height: invPythagoras($penWidth) * 1px;
			left: 1px;
			top: ($penLength - $penWidth/2) * 1px;
			z-index: 101;
			border-width: 5px;
			border-style: solid;
			border-top-color: transparent;
			border-right-color: transparent;
			border-left-color: white;
			border-bottom-color: white;
		}
		
		&:after{
			width: invPythagoras($penWidth - 2) * 1px;
			height: invPythagoras($penWidth - 2) * 1px;
			left: 2px;
			background: inherit;
			top: ($penLength - $penWidth/2 + 1) * 1px;
			z-index: 101;
		}
		*/
		&.hidden{
			display: none;
		}
	}
	
	.editor-shape-controls{
		
		position: fixed;
		z-index: 1000;
		
		&>div{
			position: absolute;
			color: white;
			border-radius: 50% 50%;
			border: 2px solid white;
			background: black;
			width: 30px;
			height: 30px;
			cursor: pointer;
			transition: transform 0.2s;
			
			&:hover{
				transform: scale(1.15);
			}

		}
		
		
		@mixin controls-line{
			content: '';
			position: absolute;
			width: 16px;
			height: 2px;
			top: 12px;
			left: 5px;
			background: white;
			border-radius: 1px;
		}
		
		.controls-scaledown{
			top: -35px;
			left: -35px;
			
			&:after{
				@include controls-line;
			}
		}
		
		.controls-scaleup{
			top: -35px;
			left: 5px;
			
			&:before{
				@include controls-line;
				transform: rotate(90deg);
			}
			&:after{
				@include controls-line;
				
			}

		}
		
		.controls-delete{
			top: 5px;
			left: -15px;
			
			&:before{
				@include controls-line;
				transform: rotate(45deg);
			}
			&:after{
				@include controls-line;
				transform: rotate(-45deg);
			}


		}
		
		
		
	}
		
	.swatches,
	.color-wheel-button{
		
		width: 100%;
		padding-bottom: 100%;
		
	}
	
	.swatches span{
		display: none;
	}
	
	.swatches.active{
		
		div{
			cursor: pointer;
			transition: transform 1s;
			&:hover{
				transform: scale(1.5);
				transition: transform 0.2s;
				z-index: 100;
			}
			
			span{
				display: block;
				font-size: 0.75rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -40%, 0);
				padding: 0;
				margin: 0;
				line-height: 1;
				&.bright{
					color: black;
				}
			}
			
		}
		
	}
	
	.editor-button{
		
		cursor: pointer;
		width: 100%;
		height: 100%;
		text-align: center;
		
		
		&:hover .icon{
			transform: scale(1.05);
		}
		
		.icon{
			transform: scale(1);
			margin-bottom: 0.5em;
			padding-bottom: 100%;
			transition: transform 0.2s;
			
			img{
				position: absolute;
				width: 100%;
				left: 0;
			}
			
		}
		
		.label{
			white-space: nowrap;
			font-size: 0.75em;		
		}
		
	}
	
	.look-picker{
		width: 100%;
		height: 100%;
		
		.look-thumb{
			
			width: 33%;
			height: 33%;
			background-size: cover;
			background-position: center center;
			float: left;
			cursor: pointer;
			position: relative;
			
			.look-used-count{
				
				width: 1.5rem;
				height: 1.5rem;
				position: absolute;
				top: 0.5rem;
				left: 0.5rem;
				border-radius: 50% 50%;
				background: rgba(0,0,0,0.8);
				border: 1px solid black;
				
				span{
					font-size: 0.75rem;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -40%, 0);
					padding: 0;
					margin: 0;
					line-height: 1;
				}

			}
			
		}
		
		
	}
	
	.look-name{
		text-align: center;
		width: 100%;
		h3{
			font-size: 2em;
		}
		img{
			width: 3em;
		}
	}
	
	.selected-image{
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	#select-canvas{
		width: 100%;
		height: 100%;
	}
	
	.image-list{
		
		height: 0;
		width: 100%;
		
		.image-list-container{
			transition: transform 0.2s;
		}
		
		.image-container{
			
			height: 0;
			width: 100%;
			padding-bottom: 100%;
			position: relative;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			cursor: pointer;
			opacity: 0.5;
			transition: opacity 0.2s;
			
			&.selected{
				opacity: 1;
			}
			
			&.back-button{
				background-image: url('/img/leftArrow.svg');
				opacity: 1 !important;
			}
			
		}
	}
	
}

.editor.landscape{
	
	.image-container{
		
		margin-bottom: 5%;
		
		&.look-image:first-child{
			margin-top: -50%;
		}
		
		&.back-button{
			display: none;
		}
		
	}
	
}

.editor.portrait{
	
	.image-list-container{
		white-space: nowrap;
		margin-top: -50%;
	}
	
	.image-container{
		
		margin-right: 5%;
		display: inline-block;
		
	}
	
}