<template name="editor">

<!--<canvas id="cropCanvas"></canvas>-->

	<div class="editor-title row">
		
		<div class="undo small-3 columns">
			{{#if canUndo}}<a id="undo">Undo</a>{{/if}}&nbsp;
		</div>
		
		<div class="title small-6 columns text-center">
			{{name}}'s Universe
		</div>
		
		<div class="finished small-3 columns text-right">
			<a id="finished">Finished!</a>
		</div>		
		
	</div>

	<div class="editor {{sessionGet 'editorOrientation'}} {{#if sessionGet 'editorShowPen'}}no-cursor{{/if}}">
		
		<div class="editor-help">
			{{ helpText }}
		</div>
		
		<div class="editor-pen {{#unless sessionGet 'editorShowPen'}}hidden{{/unless}}"></div>
		
		<div class="editor-region" style="{{ canvasStyle }}">
			
			<div class="editor-ui editor-canvas">
								
				<canvas id="draw-canvas" width=420 height=594></canvas>
				
				<div class="editor-shape-controls" style="{{ shapeControlsStyle }}">
					
					<div class="controls-scaleup"></div>
					<div class="controls-scaledown"></div>
					<div class="controls-delete"></div>
					
				</div>
		
			</div>
								
		</div>
		
		<div class="editor-region" style="{{ colorWheelStyle }}">
			
			<!-- <div class="editor-ui color-wheel"></div> -->
			
			<div class='editor-ui swatches {{#if mode "PICKING_COLOR"}}active{{/if}}'>
				{{# each colors}}
					<div style="position: absolute; top: {{y}}%; left:{{x}}%; width: {{radius}}%; height: {{radius}}%; border-radius: 50% 50%; background:{{color}}"></div>
				{{/ each }}
			</div> 
			
		</div>
		
		<div class="editor-region" style="{{ colorButtonStyle }}">

			<div class="editor-ui editor-button colors-button">
				<div class="icon">
					{{# each colors}}
						<div style="position: absolute; top: {{y}}%; left:{{x}}%; width: {{radius}}%; height: {{radius}}%; border-radius: 50% 50%; background:{{color}}"></div>
					{{/ each }}
				</div>
				<div class="label">
					<a>Pick a colour</a>
				</div>
			</div>
						
		</div>
				
		<div class="editor-region" style="{{ lookButtonStyle }}">

			<div class="editor-ui editor-button looks-button">
				<div class="icon"></div>
				<div class="label">
					<a>Pick a look</a>
				</div>
			</div>
						
		</div>
				
		<div class="editor-region" style="{{ doneButtonStyle }}">
			
			<div class="editor-ui editor-button done-button">
				
				<a>Done</a>
				
			</div>
			
		</div>
		
		<div class="editor-region" style="{{ lookPickerStyle }}">
			
			<div class="editor-ui look-picker">
				
				{{#each looks }}
				
					<div class="look-thumb" style="background-image: url({{lookPreview}})"></div>
				
				{{/each}}
				
			</div>
			
		</div>
		
		<div class="editor-region" style="{{lookNameStyle}}">
			
			<div class="editor-ui look-name">
				{{ lookName }}
			</div>
			
		</div>
		
		<div class="editor-region" style="{{selectedImageStyle}}">
			
			<div class="editor-ui selected-image" style="background-image: url({{selectedImage}})">
				<canvas id="select-canvas"></canvas>
			</div>
						
		</div>
		
		<div class="editor-region" style="{{imageListStyle}}">
			
			<div class="editor-ui image-list">
				
				<div class="image-list-container" style="transform: translateY({{selectedImageTranslate}}%)">
					{{#each imageList}}
						<div class="image-container {{selectedImageClass}}" style="background-image: url('{{url}}')"></div>					
					{{/each}}
				</div>
				
			</div>
			
		</div>
		
	</div>

</template>