<template name="editor">

	<div class="editor-title row">
		
		<div class="undo large-3 columns show-for-large-up">
			{{#if canUndo}}<a id="undo">Undo</a>{{/if}}&nbsp;
		</div>
		
		<div class="title small-9 large-6 columns large-text-center">
			{{name}}'s Universe
		</div>
		
		<div class="finished small-3 columns text-right">
			<a id="finished">Finished!</a>
		</div>		
		
	</div>

	<div class="editor {{sessionGet 'editorOrientation'}} {{#if sessionGet 'editorShowPen'}}no-cursor{{/if}}">
		
		<div class="editor-help">
			{{ helpText }}
		</div>
		
		<div class="editor-pen {{#unless sessionGet 'editorShowPen'}}hidden{{/unless}}"></div>
		
		<div class="editor-region" style="{{ canvasStyle }}">
			
			<div class="editor-ui editor-canvas">
								
				<canvas id="draw-canvas" width=420 height=594></canvas>
				
				<div class="editor-shape-controls" style="{{ shapeControlsStyle }}">
					
					<div class="controls-scaleup"></div>
					<div class="controls-scaledown"></div>
					<div class="controls-delete"></div>
					
				</div>
		
			</div>
								
		</div>
		
		<div class="editor-region" style="{{ colorWheelStyle }}">
			
			<!-- <div class="editor-ui color-wheel"></div> -->
			
			<div class='editor-ui swatches {{#if mode "PICKING_COLOR"}}active{{/if}}'>
				{{# each colors}}
					<div style="position: absolute; top: {{y}}%; left:{{x}}%; width: {{radius}}%; height: {{radius}}%; border-radius: 50% 50%; background:{{color}}">
						{{#if colorUsed ..}}
							<span class="{{#if bright}}bright{{/if}}">
								{{{colorUsed ..}}}
							</span>
						{{/if}}
					</div>
				{{/ each }}
			</div> 
			
		</div>
		
		<div class="editor-region" style="{{ colorButtonStyle }}">

			<div class="editor-ui editor-button colors-button">
				<div class="icon">
					{{# each colors}}
						<div style="position: absolute; top: {{y}}%; left:{{x}}%; width: {{radius}}%; height: {{radius}}%; border-radius: 50% 50%; background:{{color}}"></div>
					{{/ each }}
				</div>
				<div class="label hide-for-large-up">
					<a>Colours</a>
				</div>
				<div class="label show-for-large-up">
					<a>Pick a colour</a>
				</div>
			</div>
						
		</div>
				
		<div class="editor-region" style="{{ lookButtonStyle }}">

			<div class="editor-ui editor-button looks-button">
				<div class="icon">
					<img src="/img/looks_orange.svg">
				</div>
				<div class="label hide-for-large-up">
					<a>Looks</a>
				</div>
				<div class="label show-for-large-up">
					<a>Pick a look</a>
				</div>
			</div>
						
		</div>
				
		<div class="editor-region" style="{{ doneButtonStyle }}">
			
			<div class="editor-ui done-button">
				
				<a>Done</a>
				
			</div>
			
		</div>
		
		<div class="editor-region" style="{{ lookPickerStyle }}">
			
			<div class="editor-ui look-picker">
				
				{{#each looks }}
					
					
					<div class="look-thumb" style="background-image: url({{lookPreview}})">
						{{#if lookUsed ..}}
							<div class="look-used-count">
								<span>{{{lookUsed ..}}}</span>
							</div>
						{{/if}}
					</div>
				
				{{/each}}
				
			</div>
			
		</div>
		
		<div class="editor-region no-pointer" style="{{lookNameStyle}}">
			
			{{#if hoveredLook }}
				{{#with hoveredLook}}
					<div class="editor-ui look-name">
						<img src="{{ iconOrange }}"><br>
						<h3>{{ name }}</h3>
					</div>
				{{/with}}
			{{/if}}			
		</div>
		
		<div class="editor-region" style="{{selectedImageStyle}}">
			
			<div class="editor-ui selected-image" style="background-image: url({{selectedImage}})">
				<canvas id="select-canvas"></canvas>
			</div>
						
		</div>
		
		<div class="editor-region" style="{{imageListStyle}}">
			
			<div class="editor-ui image-list">
				
				<div class="image-list-container" style="{{selectedImageTranslate}}">
					<div class="image-container back-button"></div>
					{{#each imageList}}<div class="image-container look-image {{selectedImageClass}}" style="background-image: url('{{url}}')"></div>{{/each}}
				</div>
				
			</div>
			
		</div>
		
	</div>

</template>