<template name="orderForm">
    
    <h1>New Order</h1>
    <h3>for {{name}}</h3>
    
    {{#if errorMessages}}
        {{#each errorMessages}}
            {{this}}
        {{/each}}
    {{/if}}
    
    <p class="text-2">You're ordering clothes based on these colours:</p>
    
    {{#each universe.colors}}
    	<div class="swatch text-2" style="background: {{this}}"></div>
    {{/each}}
    
    <p class="text-2">And these looks:</p>
    
    {{#each looks}}
    	{{this}}
    {{/each}}
    
	<p class="text-2">
		
		{{name}} needs
		
		{{> inlineMultiSelect id="orderFormGarments" options=garmentNames }}
	</p>
	
	{{#if sessionGet 'orderFormGarmentsValid' }}
	
		<p class='text-2'>
		
			{{ heShe ../gender }} wears 
			
			{{#each sizingInstructions}}
			
				{{> inlineInput id=name value=value placeholder="size" }} {{name}} {{ listSeparator length i }}
			
			{{/each}}.
		
		</p>
		
		{{#if sizingValid }}
		
			<p class='text-2'><b>Deliver this order to:</b></p>
			
			{{> addressSelect id="orderFormAddress" select=true }}
			
			{{#if sessionGet 'orderFormAddress' }}
			
				<a class="place-order">Place your order!</a>
			
			{{/if}}
			
		
		{{/if}}
		
	
	{{/ if }}
	    
</template>